@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

body {
	box-sizing: border-box;
	background-color: #0e0004;
	color: white;
	font-family: "Oswald", sans-serif;
	text-align: center;
}
label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
}

h1 {
	font-family: "Oswald", sans-serif;
}
.header-video {
	width: 100%;
	height: auto;
}
#main-header-section {
	z-index: -1;
}
.headline {
	text-shadow: 0.1em 0.1em black;
	font-size: 50px;
	font-weight: bolder;
	text-align: left;
	color: white;
	position: absolute;
	left: 5%;
	right: 5%;
	top: 60%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

p.headline {
	margin-top: 2vw;
	top: 95%;
	font-family: "Quattrocento", sans-serif;
	font-weight: normal;
	font-size: 25px;
}
button.headline {
	font-family: "Roboto", sans-serif;
	border-color: transparent;
	border-radius: 100%;
	background-color: transparent;
	width: 15%;
	height: 10%;
	text-align: left;
	font-size: 20px;
	top: 110%;
	margin-left: 0px;
	margin-right: auto;
	padding: 0px;
}
button.headline:hover {
	text-decoration: underline;
}
@media screen and (max-width: 1500px) {
	.headline {
		top: 30%;
		font-size: 55px;
	}

	p.headline {
		top: 55%;
		font-size: 40px;
	}
	button.headline {
		top: 70%;
		font-size: 35px;
	}
}

@media screen and (max-width: 1200px) {
	.headline {
		top: 30%;
		font-size: 45px;
	}

	p.headline {
		top: 50%;
		font-size: 30px;
	}
	button.headline {
		top: 66%;
		font-size: 25px;
	}
}
@media screen and (max-width: 800px) {
	.headline {
		top: 40%;
		font-size: 35px;
	}

	p.headline {
		top: 60%;
		font-size: 20px;
	}
	button.headline {
		top: 75%;
		font-size: 15px;
	}
}

@media screen and (max-width: 550px) {
	.headline {
		top: 55%;
		font-size: 25px;
	}

	p.headline {
		top: 72%;
		font-size: 15px;
	}
	button.headline {
		width: 20%;
		top: 77%;
		font-size: 10px;
	}
}

.title-header {
	padding: 30px 0px;
	font-size: 42px;
	font-weight: bolder;
}

section {
	margin: 100px 0;
}
